@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
@font-face {
    font-family: "gunters";
    src: url(Fontspring-DEMO-gunterz-bold.otf);
}
@font-face {
    font-family: "altone";
    src: url(Altone\ Trial-Regular.ttf);
}
body{
    background: #121212;
}
.container{
    max-width: 1440px;
    margin: auto;
    padding:0px 40px;
}
.navigation_images img{
    width: 200px;
}
.navbar_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 28px;
}
.navbar_section_left{
    max-width: 250px;
}
.navbar_section_left img{
    width:100%;
}
.navbar_section_right{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 20px;
}
.navbar_button{
    width: 156px;
height: 39px;
border-radius: 34.5px;
background: #D7DF21;
display: flex;
justify-content: center;
align-items: center;
text-transform: capitalize;
cursor: pointer;
transition: 250ms;
}
.navbar_button:hover{
    box-shadow: 0 0 40px #d6df2164;
}
.navbar_button a{
    color: #121212;
text-align: center;
font-family:"altone";
text-decoration: none;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.navbar_button:hover{
    background-color:#f2ff00;
}
.hamburgur{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex-direction: column;
    gap:9px;
    cursor: pointer;
}
.hamburgur .hamburgur_line_1{
    width: 0px;
    height: 2.2px;
    background-color: white;
    transition: 300ms;
}
.hamburgur .hamburgur_line_2{
    width: 22px;
    height: 2.2px;
    background-color: white;
    transition: 350ms;
}
.hamburgur .hamburgur_line_3{
    width: 32px;
    height: 2.2px;
    background-color: white;
}
.hamburgur:hover .hamburgur_line_1,
.hamburgur:hover .hamburgur_line_2{
    width: 32px;
}
.navbar_wrapper.active_navigation .navbar_navigation_section{
    display: flex;
}
.navbar_navigation_section{
    position:fixed;
    top: 0%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items:start;
    background-color: #121212;
    display: none;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 100;
}
.logo_image_for_navigation{
    max-width:350px;
}
.logo_image_for_navigation img{
    width: 100%;
}
.navigation_container{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    width: 100%;
    margin-left: 5%;
    margin-top: 2%;
}
.navigation_container a{
    color: #FFF;
font-family:"altone";
text-decoration: none;
padding: 20px 0px;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
position: relative;
transition: 250ms;
z-index: 2;
}
.navigation_container a:hover{
    color: #D7DF21;
}
.nav_item{
    width: 100%;
}
.nav_item a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.active_navbar_arrow .navbar_arrow{
    opacity: 1;
}
.navbar_arrow{
    width: 40px;
    filter: brightness(0) saturate(100%) invert(85%) sepia(77%) saturate(504%) hue-rotate(3deg) brightness(88%) contrast(98%);
    opacity: 0;
}
.navbar_button_mobile{
    width: 100%;
    background-color: #D7DF21;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:100px;
    display: none;
}
.navbar_button_mobile:hover{
    box-shadow: 0 0 40px #d6df2164;
}
.navbar_button_mobile a{
    color: #121212;
    text-align: center;
    font-family:"altone";
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.navigation_images{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
 .navigation_img_1{
    position:relative;
    top:0;
    width:20% !important;
    z-index: 101;
    opacity: 1;
}
 .navigation_img_2{
    position:relative;
    top:0px;
    left:-20px;
    z-index: 100;
    width:25% !important;
    opacity: 1;
}
 .navigation_img_3{
    position:relative;
    top:50px;
    left:-50px;
    z-index: 101;
    width:20% !important;
}
 .navigation_img_4{
    position:relative;
    top:-100px;
    left:-100px;
    z-index: 101;
    width:15% !important;
}
.navigation_icons{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;
    margin-top: 30px;
    margin-left: 40px;
}
.navigation_icons img{
    width: 25px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(105deg) brightness(102%) contrast(108%);
}
/* hero section starts */
.hero_section{
    padding-top: 50px;
}
.hero_section_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero_section_wrapper h1{
    color: #FFF;
    font-family: "Poppins", sans-serif;
text-align: center;
font-size: 58px;
font-style: normal;
font-weight: 700;
line-height:60px;
text-transform:uppercase;
opacity: 0;
}
.hero_section_wrapper h2{
    color: #d6df21;
    font-family: "Poppins", sans-serif;
text-align: center;
font-size:58px;
font-style: normal;
font-weight: 900;
line-height:60px;
text-transform:uppercase;
opacity: 0;
}
.hero_section_wrapper p{
    color: #FFF;
text-align: center;
font-family: "altone";
max-width: 700px;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height:34px;
opacity: 0;
}
.hero_section_wrapper span{
    font-weight: 700;
}
.hero_images{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:800px;
    margin-top:30px;
}
.hero_images img{
    width:40%;
    padding:0px 10px;
}
.hero_images img:hover{
    cursor: pointer;
}
.hero_img_1{
    position: relative;
    left: -150px;
    opacity: 0;
}
.hero_img_2{
    position: relative;
    top:150px;
    opacity: 0;
}
.hero_img_3{
    position: relative;
    right:-150px;
    opacity: 0;
}
/* .hero_images img:hover{
   transform: ;
} */
.contact_us{
    width: 164px;
height: 39px;
border-radius: 34.5px;
background: #D7DF21;
display: flex;
justify-content: center;
align-items: center;
margin-top: 60px;
cursor: pointer;
transition: 380ms;
}
.contact_us a{
    text-decoration: none;
}
.contact_us p{
    color: #121212;
text-align: center;
font-family: "altone";
font-size: 18px;
font-style: normal;
font-weight:800;
text-transform: uppercase;

}
.contact_us:hover{
    box-shadow: 0 0 40px #d6df2164;
}
/* hero section ends */
/* progress section starts */
.progress_counting{
    padding: 80px 40px;
}
.progress_section {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 250px 240px 220px;
    gap: 30px;
}
.progress{
    display: flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction: column;
}
.progress_section h1 {
    font-size: 50px;
    font-weight: 600;
    text-align: start;
    color: #D7DF21;
    width: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.progress_section p {
    display: block;
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
    line-height: 1.4;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    width:100%;
    font-family: "altone";
}

.progress_section :last-child {
    border: none !important;
}

.progress {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #D9D9D9;
    position: relative;
}
.progress h2{
    position:absolute;
    top:10%;
    left: 40px;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #D7DF21;
}
.progress h3{
    position:absolute;
    top:10%;
    left: 95px;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #D7DF21;
}
 
.progress h4{
    position:absolute;
    top:10%;
    left: 65px;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #D7DF21;
}
/* progress section ends */

/* announcement section */
.announcement_bar{
    min-height: 39px;
    display: flex;
    justify-content:flex-start;
    align-items: start;
    overflow: hidden;
    white-space: nowrap;
    flex-wrap:nowrap;
    width: 100%;
    background-color: #d6df21;
}
.animation_announcement{
    display: flex;
    justify-content:flex-start;
    align-items:center;
    position: relative;
    animation-name: anouncementBar;
    animation-duration:20s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
}
.animation_announcement img{
    width: 140px;
    padding:0px 20px;
    aspect-ratio: 3/2;
    object-fit: contain;
}
@keyframes anouncementBar {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}
/* announcement section */
/* porfolio section starts */
.portfolio_section{
    padding-top: 100px;
}
.porfolio_heading h1{
    color: #D7DF21;

font-family: "gunters";
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 70px; /* 145.833% */
text-transform:uppercase;
/* position: relative;
left: -50px;
opacity: 0; */
}
.portfolio_wrapper p{
    color: #FFF;
    max-width: 1200px;
font-family:'altone';
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 36px;
padding: 20px 0px;
/* position: relative;
left: -50px;
opacity: 0; */
}
.porfolio_content{
    width: 100%;
}
.porfolio_content img{
    width: 100%;
}
.porfolio_heading{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.download_button{
    width: 164px;
height: 39px;
flex-shrink: 0;
border-radius: 34.5px;
background: #D7DF21;
display: flex;
justify-content: center;
align-items: center;
position: relative;
top: -5px;
}
.download_button a{
    color: #121212;
text-decoration: none;text-align: center;
font-family:"altone";
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: normal;
box-shadow: none;
transition:all 300ms;
text-transform: uppercase;
}
.download_button:hover{
    box-shadow: 0 0 40px #d6df2164;
}
/* porfolio section ends */
/* services section */
.services_section{
    padding: 100px 0px;
}
.heading_downlode h1{
    color: #D7DF21;

font-family: "gunters";
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 70px; /* 145.833% */
text-transform:uppercase;
position: relative;
left: -50px;
opacity: 0;
}
.heading_downlode{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services_wrapper p{
    color: #FFF;
    max-width: 100%;
font-family:'altone';
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 36px;
padding: 20px 0px;
border-bottom: 5px solid white;
position: relative;
left: -50px;
opacity: 0;
}
.services_wrapper h2{
    color: #FFF;
padding: 20px 0px;
font-family: "gunters";
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
text-transform:uppercase;
margin-bottom:10px;
border-bottom: 5px solid white;
position: relative;
left: -50px;
opacity: 0;
}
.Graphic,
.development,
.design,
.lead{
    position: relative;
    left: -50px;
    opacity: 0;
}
/* services section */
/* contact us now section */
.contact_now_section{
    position: relative;
}
.contact_wrapper img{
 width: 100%;
}
.contact_us_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.contact_us_content h1{
    color: #FFF;
text-align: center;
font-family: "gunters";
font-size: 28px;
font-style: normal;
max-width: 850px;
font-weight: 700;
line-height: normal;
text-align: center;
padding: 10px 0px;

}
.contact_button{
    width: 156px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 34.5px;
    background: #D7DF21;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contact_button a{
    color: #1E1E1E;
text-decoration: none;
font-family: "altone";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 70px; /* 388.889% */
text-transform: uppercase;
}
.contact_button:hover{
    box-shadow: 0 0 40px #d6df2164;
}.contact_conatiner{
    position: relative;
}
.flower img{
    width:100px;
    position: absolute;
    top: -50px;
    right: 100px;
}
/* contact us now section */

/* testimonial section */
.testimonial_heading h1{
    color: #D7DF21;

font-family: "gunters";
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 70px; /* 145.833% */
text-transform: lowercase;
}
.testimonial_heading p{
    color: #FFF;
max-width: 550px;
font-family: "altone";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 31px;
}
.testimonial_section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px 0px 100px 0px;
}
.swiper{
    padding:0px 40px !important;
}
.testimonial_box{
    border: 1px solid #777;
    background: #121212;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.review_stars{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.review_stars i{
    color: #D7DF21;
    font-size: 20px;
}
.testimonial_box p{
    max-width: 330px;
    text-align: center;
    color: white;
    min-height: 225px;
    font-family: "Poppins", sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
}
.client_data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.swiper-wrapper{
    padding: 40px 0px;
}
.testimonial_content_1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    position: relative;
}
.client_data img{
 position:relative;
bottom:20px;
width: 80px;
}
.client_name h1{
margin-top: -10px;
color: #FFF;

text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
font-family: "altone";
text-transform: capitalize;
}
.client_name p{
    margin-top: 2px;
color: white;
text-align: center;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: normal;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-transform: capitalize;
}
.swiper-pagination {
    position: absolute;
    bottom: 0px !important;
}
.swiper-pagination-bullet{
    background-color: #D7DF21 !important;
} 
.swiper-pagination-bullet-active{
background-color: #D7DF21 !important;
}
/* testimonial section */
/* about us section */
.about_section{
    padding: 60px 0px;
}
.about_image{
    width: 100%;
}
.about_image img{
    width: 100%;
}
.about_wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
}
.about_wrapper h1{
    color: #D7DF21;
    font-family: "gunters";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    text-transform:uppercase;
}
.about_wrapper p{
    color: #FFF;
font-family:sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height:31px;
margin-bottom: 40px;
max-width: 1004px;
}
/* footer section starts */
.footer_section{
    margin-top: 50px;
    padding:30px 0px;
    border-top:3px solid #D7DF21;
}
.footer_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_wrapper img{
    width: 17px;
}
.footer_wrapper p{
    color: #FFF;

font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 15px;
text-transform: capitalize;
letter-spacing: 1px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.facebook,
.linkedin,
.whatsapp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
height: 30px;
flex-shrink: 0;
background-color: #D7DF21;
border-radius: 50%;
}
.footer_container{
    max-width: 1040px;
    margin: auto;
    padding:0px 40px;
}
.mobile{
    display: none;
}
/* footer section ends */

@media (max-width:1240px) {
    .container{
        max-width: 990px;
    }
    .footer_container{
        max-width:990px;
        margin: auto;
        padding:0px 40px;
    }
    .hero_images img{
        width:33%;
        padding:0px 10px;
    }
    .navigation_images{
        padding-left: 20px;
    }
    .navigation_images{
     align-items: flex-start;
     margin-top: 100px;
    }
    .navigation_img_1{
        position:relative;
        top:-20px;
        width:20% !important;
        z-index: 101;
    }
     .navigation_img_4{
        position:relative;
        top:-50px;
        left:-100px;
        z-index: 101;
        width:15% !important;
    }
}
@media (max-width:990px) {
    .footer_container{
        max-width: 600px;
        margin: auto;
        padding:0px 40px;
    }
    .container{
        max-width: 769px;
    }
    .hero_section_wrapper h1{
        font-size: 44px;
    }
    .hero_section_wrapper h2{
        font-size: 44px;
    }
    .contact_us_content h1{
        font-size: 20px;
    
    }
    .navigation_img_1{
        position:relative;
        top:-40px;
        width:20% !important;
        z-index: 101;
    }
     .navigation_img_4{
        position:relative;
        top:-30px;
        left:-100px;
        z-index: 101;
        width:15% !important;
    }
     .navigation_img_2{
        position:relative;
        top:0px;
        left:-20px;
        z-index: 100;
        width:25% !important;
    }
     .navigation_img_3{
        position:relative;
        top:50px;
        left:-50px;
        z-index: 101;
        width:20% !important;
    }
    .testimonial_box p {
        min-height: 350px;

    }
    .progress_section {
        grid-template-columns:250px 200px 180px;
        padding: 50px 0px;
    }
    .about_wrapper h1{
        font-family: "gunters";
        font-size: 38px;
        line-height: 60px;
        text-transform:uppercase;
    }
    .about_wrapper p{
    line-height:31px;
    margin-bottom: 30px;
    max-width: 100%;
    }
}
@media (max-width:769px) {
    .container{
        max-width: 690px;
    }
    .footer_container{
        max-width:500px;
        margin: auto;
        padding:0px 20px;
    }
    .footer_section{
        margin-top: 0px;
    }
    .footer_wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    .footer_wrapper p{
        text-align: center;
    }
    .container{
        padding:0px 20px;
    }
    .navigation_images{
        display: none;
    }
    .navigation_img_1{
        position:relative;
        top:-40px;
        left: 30px;
        width:40% !important;
        z-index: 101;
    }
    .navigation_container{
        padding:0px 20px;
        margin-left: 0px;
        margin-top: 20px;
    }
     .navigation_img_4{
        position:relative;
        top:0;
        z-index: 101;
        width:30% !important;
    }
     .navigation_img_2{
        position:relative;
        top:0px;
        left:-20px;
        z-index: 100;
        width:45% !important;
    }
     .navigation_img_3{
        position:relative;
        top:50px;
        left:-50px;
        z-index: 101;
        width:45% !important;
    }
    .navbar_wrapper{
        gap: 20px;
    }
    .navbar_button{
        display:none;
    }
    .navbar_navigation_section{
        width: 100%;
    }
    .navigation_container{
        width: 100%;
    }
    .navbar_button_mobile{
        display: flex;
    }
    .hero_section {
        padding-top: 20px;
    }
    .hero_section_wrapper h1{
        font-size: 32px;
        line-height: normal;
    }
    .hero_section_wrapper h2{
        font-size: 32px;
        line-height: normal;
    }
    .hero_section_wrapper p{
        max-width: 400px;
    }
    .hero_images{
        margin-top: 30px;
    }
    .hero_images img{
        padding: 0px 5px;
    }
    .contact_us{
        margin-top: 30px;
    }
    .progress_section {
        grid-template-columns:auto;
        padding: 50px 0px;
    }
    .progress{
        border: none;
        justify-content: center;
        align-items: center;
    }
    .progress h1,
    .progress p{
        text-align: center;
    }
    .progress h2{
        left: 110px;
    }
    .progress h3{
        left: 140px;
    }
     
    .progress h4{
        left:125px;
    }
    .announcment_section{
        padding:5px 0px;
    }
    .heading_downlode{
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }
    .services_wrapper p{
        text-align:start;
    }
    .porfolio_heading h1{
        font-size: 32px;
        text-align:start;
        line-height: normal;
    }
    .porfolio_heading{
        flex-direction: column-reverse;
        align-items: start;
        justify-content: flex-start;
        gap: 25px;
    }
    .services_wrapper h1{
        font-size:32px;
        line-height: normal;
        text-align:start;
    }
    .downlode_button{
        width: 140px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 34.5px;
    }
    .heading_downlode{
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }
    .services_wrapper p{
        text-align:start;
    }
    .services_wrapper h2{
        font-size: 26px;
        text-align:start;
    }
    .contact_us_content h1{
        font-size: 14px;
    }
    .flower img {
        right: 40px;
        width: 60px;
        top: -20px;
    }
    .contact_now_section{
        padding-bottom: 100px;
    }
    .contact_us_content{
        background-image: url(img/contact_us_img.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:50% 50%;
        padding: 80px 20px;
        position: relative;
        top: 0%;
        left:0%;
        transform: none;
    }
     .contact_conatiner{
        margin: auto;
     }
    .contact_wrapper img{
        display: none;
    }
    .testimonial_heading h1 {
        font-size: 28px;
        line-height: normal;
        text-align: center;
    }
    .testimonial_heading p{
        text-align: center;
        max-width: 100%;
        width: 100%;
    }
    .about_wrapper h1{
        font-family: "gunters";
        font-size: 28px;
        line-height: 50px;
        text-transform:uppercase;
    }
    .about_wrapper p{
    line-height:31px;
    margin-bottom: 20px;
    max-width: 100%;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
        width: 100%;
    }
}
@media (max-width:390px) {
    .testimonial_box p{
        min-height:408px;
    }

}